coordinator=true
node-scheduler.include-coordinator=false
http-server.http.port=8080
query.max-memory=16GB
query.max-memory-per-node=6GB
query.max-total-memory-per-node=7GB
discovery-server.enabled=true
discovery.uri=http://localhost:8080